// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
  color: #333; font-size: 13px; line-height: 18px;
  margin:0px auto;
  font-family: verdana, arial, helvetica, sans-serif;
}

html, body {
  margin:0px auto;
  height:100%;
}
html{overflow-y:scroll;}

body,td,th {
  /* font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 12px; */
}


.wrapper{
  height: 2000px;
}
.site_content{
  max-width:1100px; margin:0 auto;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a, a:link {
  color: #999;
  text-decoration: none; border: 0px;

  &:visited, &:hover, &:focus {
    color: #999;
    text-decoration:none; border: 0px;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}


.nav{
  display: inline-block; margin:0; text-align: center;
  background-color:rgba(black, 0.5); height:28px;

  & .item{
    margin:0; float:left; 
    overflow:hidden; width:100px;
    & .link_nav{
      width: 100%; padding: 5px; color:white;
    }
    &:hover{
      background-color:black;
    }
  }
  
  & .sub_nav{
    width:100px; display:none;
    position:relative;
    background-color: black;
    & .sub_item{
      position:relative; padding: 5px;
      color: white;
      &:hover{
        background-color: white; color:black;
      }
    }
  }
}